<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Social</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse container-fluid" id="navbarNavDropdown">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
              </li>
              <li class="nav-item">
              
                <a class="nav-link active"  data-bs-toggle="modal" data-bs-target="#LogoutModal">
                  Logout
                </a>
              </li> 
              
          
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Follower</a></li>
                    <li><a class="dropdown-item" href="#">Following</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Add Story</a></li>
                  </ul>
                </li>


            </ul>
          
          <div class="d-flex justify-content-end ">
            <ul class="navbar-nav">
              <li class="nav-item">  
                <a class="nav-link" href="{% url "dashboard" %}" >Account</a>
                </li>
              </ul>
            <form class="d-flex justify-content-end float-end" style="margin-left: 450px;" >
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
           
            </div>
          </div>
              {% endif %}
              {% if not request.user.is_authenticated %}
              <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url "user_login" %}">Login</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url "user_signup" %}">Signup</a>
              </li> 
            </ul>
            
            {% endif %}
                 {% block navbar %}
      {% endblock navbar %}
           
          </div>
        </div>
      </nav>
      {% block content %}{% endblock content %}



<!-- Modal -->
<div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Are You Confirm To logout</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <a  class="btn btn-primary" href="{% url "user_logout" %}">Yes</a>
      </div>
    </div>
  </div>
</div>






</body>
</html>