{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 mx-auto my-3 " style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4" >
      <img src="{{profile.user_image.url}}" class="my-2 mx-2" style="max-width:180px;border-radius:50px;"   alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body mx-3">
        <a class="btn btn-primary" style="float: right;" role="button">follow</a>
        <h2 class="card-title">Name: {{profile.user}}</h2>
        
        <h7 class="card-title">Follower: {{profile.follower}}</h7>
        <h7 class="card-title mx-4">Following: {{profile.following}}</h7>
        <h5 class="card-title my-2">Bio: {{profile.bio}}</h5>
      </div>
    </div>
  </div>
</div>


<div class="card-group mx-auto" style="max-width:580px">
{% for post in posts %}
<div class="d-flex align-content-start flex-wrap mx-auto">
   <img src="{{post.image.url}}" class="card-img-top mx-1 my-1" alt="..." style="width:180px;max-height:200px;"> 
</div>

  {% endfor %}
  </div>

 


{% endblock content %}